/*main.css aka the STYLE*/
	/* use google fonts to add a font make it readable too */
	body {
		background-color: rgb(255,254,244);
		font-family: 'Crimson Text', serif;
	}

	h2   {
		color:rgb(25,0,77);
	}

	a {
	text-decoration: none;
	}

	ol {
		color: rgb(25,0,77)
	}
	#my_nav_bar {
		border-style: double;
		border-color: rgb(60, 9, 79);
		border-radius: 10px;
		border-width: 7px;
		background-color:rgb(242, 252, 255);
		color: 
	}
	#img-float {
		float: left;
		margin:20px;
	}
	.p-class{
		margin: 25px;
		padding: 15px;
	}
	#float{
		border-style:solid; 
		border-width: 5px;
		border-color: rgb(189, 214, 255);
		border-radius: 15px;
		background-color: rgb(240, 255, 254); 
	}
	#h3 {
		text-align: center;
	}